<div class="row" id="setting"   >

    <!--<div class="col-md-12 ">-->
    <!--<div class="col-md-6 storm-box content">-->

    <!--<div class="col-md-12 " >-->
    <!--<div class="form-group" >-->
    <!--<label ng-bind="'Author' | translate"></label>-->
    <!--<input type="text" value="Âu Vĩnh Thiện" class="form-control" disabled>-->
    <!--</div>-->
    <!--<div class="form-group" >-->
    <!--<label ng-bind="'Email' | translate"></label>-->
    <!--<input type="text" value="vinh.thien0301@gmail.com" class="form-control" disabled>-->
    <!--</div>-->
    <!--<div class="form-group" >-->
    <!--<label ng-bind="'Facebook' | translate"></label>-->
    <!--<input type="text" value="https://www.facebook.com/TechStormTeam/" class="form-control" disabled>-->
    <!--</div>-->
    <!--<div class="form-group" >-->
    <!--<label >Số tài khoản</label>-->
    <!--<input type="text" value="1988 876 987" class="form-control" disabled>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-md-12">
            <!-- Google Map -->

            <div class="row margin-bottom-20">
                <div class="col-md-6">
                    <div class="space20">
                    </div>
                    <h3 class="form-section">Contacts</h3>
                    <p>
                        Lorem ipsum dolor sit amet, Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat consectetuer adipiscing elit.
                    </p>
                    <div class="well">
                        <h4>Address</h4>
                        <address>
                            <strong>Loop, Inc.</strong><br>
                            795 Park Ave, Suite 120<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (234) 145-1810 </address>
                        <address>
                            <strong>Email</strong><br>
                            <a href="mailto:#">
                                first.last@email.com </a>
                        </address>
                        <ul class="social-icons margin-bottom-10">
                            <li>
                                <a href="javascript:;" data-original-title="facebook" class="facebook">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-original-title="github" class="github">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-original-title="Goole Plus" class="googleplus">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-original-title="linkedin" class="linkedin">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-original-title="rss" class="rss">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-original-title="skype" class="skype">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-original-title="twitter" class="twitter">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-original-title="youtube" class="youtube">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--<div class="col-md-6">-->
                <!--<div class="space20">-->
                <!--</div>-->
                <!--&lt;!&ndash; BEGIN FORM&ndash;&gt;-->
                <!--<form action="#">-->
                <!--<h3 class="form-section">Feedback</h3>-->
                <!--<p>-->
                <!--Lorem ipsum dolor sit amet, Ut wisi enim ad minim veniam, quis nostrud exerci. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat consectetuer-->
                <!--</p>-->
                <!--<div class="form-group">-->
                <!--<div class="input-icon">-->
                <!--<i class="fa fa-check"></i>-->
                <!--<input type="text" class="form-control" placeholder="Subject">-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<div class="input-icon">-->
                <!--<i class="fa fa-user"></i>-->
                <!--<input type="text" class="form-control" placeholder="Name">-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<div class="input-icon">-->
                <!--<i class="fa fa-envelope"></i>-->
                <!--<input type="password" class="form-control" placeholder="Email">-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<textarea class="form-control" rows="3=6" placeholder="Feedback"></textarea>-->
                <!--</div>-->
                <!--<button type="submit" class="btn green">Submit</button>-->
                <!--</form>-->
                <!--&lt;!&ndash; END FORM&ndash;&gt;-->
                <!--</div>-->
            </div>
        </div>
    </div>


</div>

