<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div>token is: </div>
<div id="token"></div>
<script>
    if ('safari' in window && 'pushNotification' in window.safari) {
        var permissionData = window.safari.pushNotification.permission('web.com.storm.push');
        checkRemotePermission(permissionData);
    }
    function checkRemotePermission (permissionData) {
        if (permissionData.permission === 'default') {
            // This is a new web service URL and its validity is unknown.
            window.safari.pushNotification.requestPermission(
                'https://storm-push-haravan.herokuapp.com', // The web service URL.
                'web.com.storm.push',     // The Website Push ID.
                {}, // Data that you choose to send to your server to help you identify the user.
                checkRemotePermission         // The callback function.
            );
        }
        else if (permissionData.permission === 'denied') {
            // The user said no.
        }
        else if (permissionData.permission === 'granted') {
            console.log("token");
                    $("#token").html(permissionData.deviceToken);
                    $.ajax({
                        url: "./message",
                        type: "get", //send it through get method
                        data: {
                            "token": permissionData.deviceToken
                        },
                        contentType: "application/json",
                        success: function (response) {//success
                        }
                    });
            }


            // The web service URL is a valid push provider, and the user said yes.
            // permissionData.deviceToken is now available to use.
    };


</script>

