<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ng-bind="mainTitle" ></a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a >{{childTitle}}</a>
        </li>
    </ul>
    <!--<div class="page-toolbar">-->
        <!--<div id="dashboard-report-range" class="pull-right tooltips btn btn-sm btn-default"-->
             <!--data-container="body" data-placement="bottom"-->
             <!--data-original-title="Change dashboard date range">-->
            <!--<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp;-->
            <!--<i class="fa fa-angle-down"></i>-->
        <!--</div>-->
    <!--</div>-->
</div>