{% extends 'layout.server.view.html' %}

{% block content %}
<head>
</head>
<body ng-controller="FrameController as frame" id="frame" ng-init="init()" class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid need-show "
       style="display: none">
<!-- BEGIN HEADER -->

<!--<div ng-include="'../../../haravan-/**/storm-push/core/server/views/header.server.view.html'"></div>-->
<div ng-include="'./shopify-storm-push/core/server/views/header.server.view.html'"></div>

<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div ng-include="'./shopify-storm-push/core/server/views/sidebar.server.view.html'"></div>

    <!-- END SIDEBAR -->

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper need-show" style="display: none">


        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div id="header-bar" ng-include="'./shopify-storm-push/core/server/views/header-bar.server.view.html'"></div>
            <section id="section" >
                <div ng-show="menuPos==1" ng-init="name = '{{ shopname }}'" ng-include="'./shopify-storm-push/core/server/views/push-frame.server.view.html'"></div>
                <div ng-show="menuPos==2" ng-include="'./shopify-storm-push/core/server/views/report.server.view.html'" ></div>
                <div ng-show="menuPos==3" ng-include="'./shopify-storm-push/core/server/views/setting.server.view.html'" ></div>
                <div ng-show="menuPos==4" ng-include="'./shopify-storm-push/core/server/views/about.server.view.html'" ></div>
                <div ng-show="menuPos==5" ng-include="'./shopify-storm-push/core/server/views/payment.server.view.html'" ></div>

            </section>
        </div>
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->
    <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
    <div ng-include="'../../../shopify-storm-push/core/server/views/quicksidebar.server.view.html'"></div>

    <!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div id="footer-include" ng-include="'../../../shopify-share-view/footer.server.view.html'"></div>

<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>

<!-- END PAGE LEVEL SCRIPTS -->
<a class="btn default hidden" data-toggle="modal" data-keyboard="false" data-backdrop="static"  href="#basic" id="paymentButton"  data-backdrop="true">
    View Demo </a>
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Announcement</h4>
            </div>
            <div class="modal-body">
                Please make payment before continuing
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn blue" data-dismiss="modal" ng-click="showPaymentPage()">To the payment page </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
{% endblock %}


</body>

</html>
