{% extends 'layoutinstall.server.view.html' %}

{% block content %}
<form class="form-signin" method="get">
  <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Cài đặt Storm Push trên shopify</h1>
  <div class="form-control form-inline">
    <input type="text" id="inputEmail" placeholder="Tên cửa hàng" name="shop" required="" autofocus="">
    <label>&nbsp;.shopify.com</label>
  </div>
  <br/>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Cài đặt</button>
</form>
{% endblock %}