<!DOCTYPE html>
<html lang="en" class="app js no-touch no-android chrome no-firefox no-iemobile no-ie no-ie8 no-ie10 no-ie11 no-ios">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
    <base href="/">
    <title page-title></title>
    <meta name="description" content="{{description}}">
    <meta name="fragment" content="!">
    <link rel="stylesheet" href="../../../../please-wait/build/please-wait.css">
    <link rel="stylesheet" href="../../../../angular-ui-notification/dist/angular-ui-notification.min.css">

    <link href="../../../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <!--<link href="../../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>-->
    <!--<link href="../../../../assets/global/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>-->
    <link href="../../../../assets/global/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->

    <link rel="stylesheet" type="text/css" href="../../../../assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>

    <link href="../../../../assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="../../../../assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="../../../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="../../../../assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="../../../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../../../../icheck-material/icheck-material.css" rel="stylesheet" type="text/css">
    <link href="../../../../shopify-storm-push/lib/html/css/index.css" rel="stylesheet" type="text/css"/>
    <!--<link href="../../../../angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css" type="text/css" rel="stylesheet">-->


    <script src="../../../../jquery/dist/jquery.min.js"></script>
    <script src="../../../../datatables.net/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="../../../../angular/angular.min.js"></script>
    <script src="../../../../angular-datatables/dist/angular-datatables.min.js" type="text/javascript"></script>
    <script src="../../../../angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js" type="text/javascript"></script>
    <!--<link href="../../../../angular-datatables/dist/css/angular-datatables.css" type="text/css" rel="stylesheet">-->
    <link href="../../../../css/jquery.dataTables.min.css" type="text/css" rel="stylesheet">
    <script src="../../../../angular-animate/angular-animate.js"></script>
    <script src="../../../../angular-bootstrap/ui-bootstrap.js"></script>
    <script src="../../../../angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="../../../../angular-messages/angular-messages.js"></script>
    <script src="../../../../angular-resource/angular-resource.js"></script>
    <script src="../../../../angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../../../../angular-ui-tinymce/dist/tinymce.min.js"></script>
    <script src="../../../../angular-ui-utils/ui-utils.js"></script>
    <script src="../../../../async/dist/async.js"></script>
    <!--<script src="../../../../bootstrap/dist/js/bootstrap.js"></script>-->
    <script src="../../../../ngstorage/ngStorage.js"></script>
    <script src="../../../../angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="../../../../angular-translate/angular-translate.min.js"></script>
    <script src="../../../../angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="../../../../please-wait/build/please-wait.js"></script>



    <!--link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css"-->

    <!-- Fav Icon -->
    <link href="/{{faviconEmbed}}?v={{ appversion }}" rel="shortcut icon" type="image/x-icon">

    <!-- Application CSS Files -->
    <!--{% for cssFile in cssEmbedFiles %}<link rel="stylesheet" href="/{{cssFile}}?v={{ appversion }}">{% endfor %}-->

    <!--{% block css %}{% endblock %}-->
</head>
<body style="background-color: #364150;
  background-image: url('../../../../../images/loader.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100px 100px;">
<!-- Subiz -->
<script>
    (function(s, u, b, i, z){
        u[i]=u[i]||function(){
            u[i].t=+new Date();
            (u[i].q=u[i].q||[]).push(arguments);
        };
        z=s.createElement('script');
        var zz=s.getElementsByTagName('script')[0];
        z.async=1; z.src=b; z.id='subiz-script';
        zz.parentNode.insertBefore(z,zz);
    })(document, window, 'https://widgetv4.subiz.com/static/js/app.js', 'subiz');
    subiz('setAccount', 'acpyzmizgzyzmzygotdd');
</script>
<!-- End Subiz -->
<div class="vbox">
    {% block content %}{% endblock %}
</div>

<div id="authenticate" style="display:none;">{{embedUrl}}</div>
<div id="embed" style="display:none;">{{embed}}</div>

<script>

    function showContent(){
        $('.need-show').css("display","inherit");
    }
</script>

<script type="text/javascript">
    var env = "{{ env }}";
    var pagetitle = '{{ title }}';
    var appslug = '';
    var appslugAdmin = '{{ appslugAdmin }}';
    var apphost = '{{ apphost }}';
    var apikey = '{{ apikey }}';
    var shopname = '{{ shopname }}';
    var timestamp = '{{ timestamp }}';
    var signature = '{{ signature }}';
    var code = '{{ code }}';
    var shop = '{{ shop }}';
    var domain = '{{ domain }}';
    var public_key = '{{ public_key }}';
    var access_token = '{{ access_token }}';
    var haravan_api = '{{ JSON.haravan_api }}';
    var embed = '{{ embed }}';
    var endpoint = '{{ endpoint }}';
    var defaultIcon = '{{ defaultIcon }}';
    var user = '{{ user }}';
    var shopUrl = '{{ shopUrl }}';

</script>

<script src="../../../../shopify-storm-push/lib/html/js/storm-push-setting-page.js"></script>

<script src="../../../../assets/global/plugins/respond.min.js"></script>
<script src="../../../../assets/global/plugins/excanvas.min.js"></script>
<script src="../../../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="../../../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/bootstrap.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<!--<script src="../../../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>-->
<script src="../../../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../../../../assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->

<script src="../../../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<!--<script src="../../../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>-->


<script src="../../../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->


<script src="../../../../assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="../../../../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../../../../assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../../../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="../../../../assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="../../../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="../../../../assets/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="../../../../assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>

<script>
    jQuery(document).ready(function() {
        angular.element(document).ready(function () {
            //place your javascript and jquery code here to execute after
            //angular controller has done it's work
            setTimeout(function() {
                // Your code here
                Metronic.init(); // init metronic core componets
                Layout.init(); // init layout
                QuickSidebar.init(); // init quick sidebar
                // Demo.init(); // init demo features
                // Index.init();
                // Index.initDashboardDaterange();
                // Index.initJQVMAP(); // init index page's custom scripts
                // Index.initCalendar(); // init index page's custom scripts
                // Index.initCharts(); // init index page's custom scripts
                // Index.initChat();
                // Index.initMiniCharts();
                // Tasks.initDashboardWidget();
                // TableAdvanced.init();

            }, 2000);

        });
    });
</script>

<!--Application JavaScript Files-->
{% for jsFile in jsEmbedShopifyStormPush %}<script type="text/javascript" src="/{{jsFile}}?v={{ appversion }}"></script>{% endfor %}

{% block js %}{% endblock %}

</body>

</html>
