<div class="row main-bg" id="setting"    >
    <link href="../../../../assets/admin/pages/css/pricing-table.css" rel="stylesheet" type="text/css"/>
    <script src="../../../../shopify-storm-push/lib/html/js/payment.js"></script>

    <div class="col-md-12 box-bg ">
        <div class="col-md-3">
            <div class="pricing hover-effect">
                <div class="pricing-head">
                    <h3>Billing</h3>
                    <h4><i>$</i>5<i>.49</i>
                        <span>
                                Per Month </span>
                    </h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li>
                        <i class="fa fa-tags"></i> Logo replacement
                    </li>
                </ul>
                <div class="pricing-footer">
                    <a href="javascript:;" onclick="makeSubcription()" class="btn yellow-crusta">
                        Pay Now <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

