<div class="row" id="push-content">

    <div class="col-md-12 storm-box" id="banner" style="background: url('{{bannerBg}}') repeat center top;" >
        <div class="title-text clearfix items-1">
            <div class="col-1-of-1">
                <img src="{{bannerIcon}}">
                <p ng-bind="bannerTitle | translate"></p>
            </div>

        </div>
    </div>
    <div class="col-md-12 ">
        <div class="{{haveLeftSide==true ?'col-md-3 left-side' :'hidden'}}">
            <h4 ng-bind="leftSideTitle | translate"></h4>
            <div class="content" ng-bind="leftSideContent | translate"></div>
            <div class="notes-block">
                <p><strong ng-bind="note | translate"></strong><br><span ng-bind="leftSideNote | translate"> </span></p>
            </div>
        </div>
        <div class="{{haveLeftSide==true ?'col-md-9' :'col-md-12'}}" id="content">
            <div class="row">
                <div class="col-md-5 second-side">
                    <div class="panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="title" ng-bind="'title' | translate"></label> <span
                                    >{{master.title.length}}/50</span>
                                <input type="text" class="form-control" id="title" ng-model="master.title"
                                        maxlength="50" placeholder="{{titleHolder}}">
                            </div>
                            <div class="form-group">
                                <label for="description"
                                       ng-bind="'description' | translate"></label>
                                <span>{{master.description.length}}/100</span>
                                <textarea class="form-control rounded-0" id="description"
                                          rows="3" ng-model="master.description" maxlength="100"
                                          placeholder="{{descriptionHolder}}" ></textarea>
                            </div>
                            <div class="form-group">
                                <label for="redirectTo" ng-bind="'redirect_to' | translate"></label>
                                <input type="text" class="form-control" id="redirectTo" ng-model="master.link">
                            </div>
                            <div class="form-group ">
                                <label for="redirectTo" ng-bind="'add_action' | translate"></label>
                                <div class="cta-group">
                                    <div class="form-group" ng-show="master.enableFirstCTA==true">
                                        <label for="description"
                                               ng-bind="'CTA_button' | translate"> </label>
                                        <label class="optional">(optional)</label>
                                        <span >{{master.firstCTAText.length}}/50</span>

                                        <input type="text" class="form-control" placeholder="Vd: mua ngay"
                                                ng-model="master.firstCTAText" maxlength="50">
                                    </div>
                                    <div class="form-group" ng-show="master.enableFirstCTA==true">
                                        <label for="description"
                                               ng-bind="'redirect_to' | translate"></label>
                                        <input type="text" class="form-control" ng-model="master.firstCTALink"
                                                >
                                    </div>
                                    <div class="form-group" ng-show="master.enableFirstCTA==true">
                                        <label for="description"
                                               ng-bind="'action_icon' | translate"></label>

                                        <div class="upload-container">
                                            <a  class="cp">
                                                <img class="push_image_preview1_17" id="img-firstCTA"  src="{{master.firstCTAIcon}}">
                                            </a>
                                            <a  class="button-orange-border cp" onclick="choose_icon('firstCTA')">Browse</a>
                                            <input type="file" id="firstCTA" class="hidden" onchange="changeIcon('firstCTA','img-firstCTA','firstCTAIcon')"></input>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="master.enableSecondCTA==true">
                                        <label
                                               ng-bind="'CTA_button' | translate"> </label>
                                        <label class="optional">(optional)</label>
                                        <span >{{master.secondCTAText.length}}/50</span>
                                        <input type="text" class="form-control" ng-model="master.secondCTAText"
                                               maxlength="50">
                                    </div>
                                    <div class="form-group" ng-show="master.enableSecondCTA==true">
                                        <label for="description"
                                               ng-bind="'redirect_to' | translate"></label>
                                        <input type="text" class="form-control" ng-model="master.secondCTALink"
                                               >
                                    </div>
                                    <div class="form-group" ng-show="master.enableSecondCTA==true">
                                        <label for="description"
                                               ng-bind="'action_icon' | translate"></label>
                                        <div class="upload-container">
                                            <a  class="cp">
                                                <img class="push_image_preview1_17" id="img-secondCTA" src="{{master.secondCTAIcon}}">
                                            </a>
                                            <a  class="button-orange-border cp" onclick="choose_icon('secondCTA')">{{'Browse' | translate}}</a>
                                            <input type="file" id="secondCTA"  class="hidden" onchange="changeIcon('secondCTA','img-secondCTA','secondCTAIcon')"></input>
                                        </div>
                                    </div>
                                    <a id="add-cta-17" class="cp link link-p15" ng-hide="master.enableSecondCTA==true && master.enableFirstCTA==true" ng-click="changeCTA(true)">+ {{'add_action' | translate}}</a>
                                    <a id="remove-cta-17" class="cp link" ng-click="changeCTA(false)" ng-show="master.enableFirstCTA==true">- {{'remove_action' | translate}}</a>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description"
                                       ng-bind="'Upload_icon' | translate"></label>
                                <div class="upload-container">
                                    <a  class="cp">
                                        <img class="push_image_preview1_17" id="push-icon" src="{{master.icon}}">
                                    </a>
                                    <a  class="button-orange-border cp" onclick="choose_icon('icon')">{{'Browse' | translate}}</a>
                                    <input type="file" id="icon" class="hidden" onchange="changeIcon('icon','push-icon','icon')"></input>
                                </div>
                            </div>
                            <div class="form-group" ng-show="showUploadImage==true">
                                <label for="description"
                                       ng-bind="'Upload_image' | translate"></label>
                                <div class="upload-container">
                                    <a  class="cp">
                                        <img class="push_hero_image_preview1_20" id="image-notif" src="{{master.image}}">
                                    </a>
                                    <a  class="button-orange-border cp" onclick="choose_icon('imageNotif')">{{'Browse' | translate}}</a>
                                    <input type="file" id="imageNotif" class="hidden" onchange="changeIcon('imageNotif','image-notif','image')"></input>
                                </div>
                            </div>
                            <!--<button type="submit" class="btn btn-default">Submit</button>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-7 third-side">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Windows</a></li>
                        <li><a data-toggle="tab" href="#menu1">Safari</a></li>
                        <li><a data-toggle="tab" href="#menu2">Android</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <img
                                    src="images/desktop2.jpg" alt="Promotion Pushes">
                            <div class="notification-content">
                                <div ng-show="showUploadImage==true" class="second-image">
                                    <img src="{{master.image}}" >
                                </div>
                                <div class="content">
                                    <!--<a><span class="icon-close"></span></a>-->

                                    <div class="image-wrap">
                                        <img class="push_image_preview2_1" src="{{master.icon}}">
                                    </div>
                                    <div class="details">
                                        <div class="title preview_title" ng-bind="master.title.length>0 ?master.title :titleHolderPreview"></div>

                                        <div class="des preview_description" ng-bind="master.description.length>0 ?master.description :descriptionHolderPreview"></div>
                                        <a class="">Google Chrome . {{ name }}</a>
                                    </div>

                                </div>
                                <div class="col-md-12 cta-group storm-box" ng-show="master.firstCTAText.length>0 && master.enableFirstCTA==true">
                                    <div class="col-md-6" ng-show="master.secondCTAText.length>0&&master.enableSecondCTA==true">
                                        <img src="{{master.secondCTAIcon}}">
                                        <div ng-bind="master.secondCTAText"></div>
                                    </div>
                                    <div class="col-md-6 first-cta">
                                        <img src="{{master.firstCTAIcon}}">
                                        <div ng-bind="master.firstCTAText"></div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <img
                                    src="images/macos.jpg" alt="Promotion Pushes">
                            <div class="notification-content">
                                <div class="content">
                                    <div class="image-wrap">
                                        <img class="push_image_preview2_1" src="{{safariIcon}}">
                                    </div>
                                    <div class="details">
                                        <div class="title preview_title" ng-bind="master.title.length>0 ?master.title :titleHolderPreview"></div>
                                        <!--<div class="des preview_description">{{ name }}</div>-->
                                        <div class="des preview_description" ng-bind="master.description.length>0 ?master.description :descriptionHolderPreview"></div>
                                        <!--<a ng-bind="link"></a>-->
                                    </div>
                                    <!--<div  class="small-image">-->
                                        <!--<img src="{{master.icon}}">-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <img
                                    src="images/phone.png" alt="Promotion Pushes">
                            <div class="notification-content">
                                <div class="content row">
                                    <!--<a><span class="icon-close"></span></a>-->
                                    <div class="col-md-9 storm-box">
                                        <div class="row first-row">
                                            <img class="small-icon" src="images/chrome-grey.png">
                                            <div>Chrome . {{name}}</div>
                                        </div>
                                        <div class="row title" ng-bind="master.title.length>0 ?master.title :titleHolderPreview"></div>
                                        <div class="row des" ng-bind="master.description.length>0 ?master.description :descriptionHolderPreview"></div>
                                    </div>
                                    <div class="col-md-3 icon">
                                        <img src="{{master.icon}}">
                                    </div>
                                    <div class="row cta-group">
                                        <div class="{{master.enableSecondCTA==true ?'col-md-5' :'col-md-10'}} storm-box" ng-show="master.enableFirstCTA" ng-bind="master.firstCTAText"></div>
                                        <div class="col-md-5 storm-box" ng-show="master.enableSecondCTA==true" ng-bind="master.secondCTAText">
                                        </div>
                                    </div>
                                    <div class="row image" ng-show="showUploadImage==true">
                                        <img src="{{master.image}}">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="haveLeftSide==true" class="row">
                    <div class="col-md-5">
                        <button class="button-green-border float-left">Active</button>
                        <button class="button-orange-full float-left twenty-magin-left">Save</button>
                    </div>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="line"></div>
                <div class="col-md-12 push-padding">
                    <button class="cus-button" ng-click="sendMessage()" ng-bind="'send_message' | translate">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../../shopify-storm-push/lib/script-tags/push/js/storm-push-haravan-backend.js"></script>
</div>