<section  ng-controller="PushFrameController as pushFrame" id="push-frame">
    <div class="row">
        <div class="col-md-12">
            <input type="text" id="domain" name="domain" ng-model="domain" hidden="true"/>
            <input type="text" id="shop" name="shop" ng-model="shop" hidden="true"/>
            <input type="text" id="key" name="shop" ng-model="key" hidden="true"/>
        </div>
    </div>

    <div ng-if="view == '0'" class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card" >
                    <img class="card-img-top" width="120" height="120" src="images/sale.svg"
                         alt="Promotion Pushes">
                    <div class="card-body">
                        <h5 class="card-title"
                            ng-click="changeView('1')"
                            ng-bind="'promotion_pushes' | translate"></h5>
                        <p class="card-text" ng-bind="'promotion_pushes_description' | translate"></p>
                        <a class="btn btn-primary"
                           ng-click="changeView('1')"
                           ng-bind="'create_campaign' | translate"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" width="120" height="120" src="images/power-push.png"
                         alt="Promotion Pushes">
                    <div class="card-body">
                        <h5 class="card-title"
                            ng-click="changeView('2')"
                            ng-bind="'power_pushes' | translate"></h5>
                        <p class="card-text" ng-bind="'Send_power_pushes_to_all_subscribers' | translate"></p>
                        <a class="btn btn-primary"
                           ng-click="changeView('2')"
                           ng-bind="'create_campaign' | translate"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden">
                <div class="card" >
                    <img class="card-img-top" width="120" height="120" src="images/abandoned-cart.png"
                         alt="Promotion Pushes">
                    <div class="card-body">
                        <h5 class="card-title"
                            ng-click="changeView('3')"
                            ng-bind="'Remarket_customers_with_abandoned_carts' | translate"></h5>
                        <p class="card-text" ng-bind="'Remarket_customers_with_abandoned_carts_content' | translate"></p>
                        <a class="btn btn-primary"
                           ng-click="changeView('3')"
                           ng-bind="'create_campaign' | translate"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="view=='1'" class="promotion-push" id="sale-push" ng-controller="MainController as main">
        <div ng-init="bannerBg='./images/pattern-2.png';bannerIcon='./images/sale.svg';
        bannerTitle='create_campaign' | translate;init('push-sale');hideBanner=false;"  ng-include="'../../../shopify-storm-push/core/server/views/push-content.server.view.html'"></div>
    </div>
    <div ng-if="view=='2'" class="promotion-push" id="power-push" ng-controller="MainController as main">
        <div ng-init="bannerBg='./images/pattern-2.png';bannerIcon='./images/power-push.png';
        bannerTitle='power_pushes' | translate;showUploadImage=true;init('push-power');
        hideBanner=false;" ng-include="'../../../shopify-storm-push/core/server/views/push-content.server.view.html'"></div>
    </div>
    <div ng-if="view=='3'" class="promotion-push"  ng-controller="MainController as main">
        <div ng-init="bannerBg='./images/pattern-2.png';bannerIcon='./images/abandoned-cart.png';
        bannerTitle='Remarket_customers_with_abandoned_carts' | translate;haveLeftSide=true;
        leftSideTitle='text_1' | translate;leftSideContent='text_2' | translate;note='Note' | translate;
        leftSideNote='text_3' | translate"
             ng-include="'../../../shopify-storm-push/core/server/views/push-content.server.view.html'"></div>
    </div>

</section>