<section id="report-page" ng-controller="ReportController as report" ng-init="init()">
    <link href="../../../css/report.css" rel="stylesheet" type="text/css"/>
    <!--<div id="campaigns-wrap" class="settings-group settings-group-custom">-->
    <!--<div class="settings-items">-->
    <!--<div class="setting-item no-padding reports-list">-->
    <!--<div class="report-totals clearfix">-->
    <!--<img src="https://admin.firepush.io/assets/images/tracking.svg" class="fl">-->
    <!--<div id="campaign_stats_con" class="fl">-->
    <!--<table class="data-table data-table-inside-top">-->
    <!--<tbody><tr>-->
    <!--<td>-->
    <!--<p><strong ng-bind="number"></strong></p>-->
    <!--<p>Total sent</p>-->
    <!--</td>-->
    <!--<td>-->
    <!--<p><strong>0</strong></p>-->
    <!--<p>Clicks</p>-->
    <!--</td>-->
    <!--<td>-->
    <!--<p><strong>0</strong></p>-->
    <!--<p>Orders</p>-->
    <!--</td>-->
    <!--<td>-->
    <!--<p><strong><span class="no_wrap">0 <span class="currency_after">VND</span></span></strong></p>-->
    <!--<p>Revenue</p>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody></table>-->

    <!--</div>-->
    <!--</div>-->
    <!--<div id="campaign_con">-->
    <!--<table class="report-table">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th colspan="2"></th>-->
    <!--<th>Sent</th>-->
    <!--<th>Clicks</th>-->
    <!--<th>Orders</th>-->
    <!--<th>Revenue</th>-->
    <!--<th>Repeat</th>-->
    <!--<th>Status</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->

    <!--<tr ng-repeat="notification in notificationList">-->
    <!--<td>-->
    <!--<div class="camp-push-img" style="background-image: url('{{notification.icon}}');"></div>-->
    <!--</td>-->
    <!--<td>-->
    <!--<a id="campaign_20694" name="campaign_20694"></a>-->
    <!--<div class="camp-push-title">{{notification.title}}</div>-->
    <!--<div class="camp-push-message">{{notification.description}}</div>-->
    <!--<div class="camp-push-url">{{notification.url}}</div>-->
    <!--<div class="camp-actions-wrap">-->
    <!--<a class="link" href="https://admin.firepush.io/en/dashboard/promotion-pushes/duplicate/20694/#push">Duplicate</a>-->
    <!--<a class="link cp" onclick="delete_campaign(20694)">Delete</a>-->
    <!--</div>-->
    <!--</td>-->
    <!--<td>-->
    <!--<span class="mobile-report-details">-->
    <!--<span>Sent: <strong>{{notification.send}}</strong></span>-->
    <!--<span>Clicks: <strong>0</strong></span>-->
    <!--<span>Orders: <strong>0</strong></span>-->
    <!--<span>Revenue: <strong><span class="no_wrap">0 <span class="currency_after">VND</span></span></strong></span>-->
    <!--<span>Repeat: <strong>-</strong></span>-->
    <!--<span>Status: <strong>{{notification.created_at}}</strong></span>-->
    <!--</span>-->
    <!--<span class="no_wrap hide-mobile-report">{{notification.send}}</span>-->
    <!--</td>-->
    <!--<td class="no_wrap">0</td>-->
    <!--<td class="no_wrap">0</td>-->
    <!--<td class="no_wrap"><span class="no_wrap">0 <span class="currency_after">VND</span></span></td>-->
    <!--<td class="no_wrap">-</td>-->
    <!--<td class="no_wrap">Sent on<br>{{notification.created_at}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->

    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption" ng-bind="'list' | translate">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="tools">
                    </div>
                </div>
                <div class="portlet-body">

                    <table datatable="ng" class="row-border hover cell-border">
                        <thead>
                        <tr>
                            <th class="info-detail" >{{'Icon' | translate}}</th>
                            <th class="info-detail" >{{'info' | translate}}</th>
                            <th class="info-detail" >{{'Send' | translate}}</th>
                            <th class="info-detail" >{{'Clicks' | translate}}</th>
                            <th class="info-detail" >{{'Orders' | translate}}</th>
                            <th class="info-detail" >{{'Revenue' | translate}}</th>
                            <th class="info-detail" >{{'Repeat' | translate}}</th>
                            <th class="info-detail" >{{'Status' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  ng-repeat="notification in notificationList">
                            <td class="td-icon" ><img class="icon" ng-src="{{notification.icon}}"></td>
                            <td class="content">
                                <div class="title" ng-bind="notification.title"></div>
                                <div class="des" ng-bind="notification.description"></div>
                                <div class="url" ng-bind="notification.url"></div>
                                <div class="action-button">
                                    <a ng-click="duplicateNotification($index)" class="{{notification.enableDuplicate==true ?'progress-duplicate' :''}}" ng-bind="notification.enableDuplicate==true ?'enable_duplication' :'Duplicate' | translate"></a>
                                    <a ng-click="deleteNotification($index)" class="{{notification.enableDelete==true ?'progress-duplicate' :''}}" ng-bind="notification.enableDelete==true ?'enable_duplication' :'Delete' | translate"></a>
                                </div>
                            </td>
                            <td class="info-detail" >{{notification.send}}</td>
                            <td class="info-detail" >{{notification.click}}</td>
                            <td class="info-detail" >{{notification.order}}</td>
                            <td class="info-detail" >{{notification.revenueNumber}} {{notification.revenueText}}</td>
                            <td class="info-detail" >{{notification.repeat}}</td>
                            <td class="info-detail" >{{notification.createdAt}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>