<div class="row" id="setting" ng-init="init()" ng-controller="SettingController"  >
    <script src="../../../../assets/admin/pages/scripts/ui-alert-dialog-api.js"></script>

    <div class="col-md-12 ">
        <div class="col-md-3 title-side">
            <h4 ng-bind="'Set_up_autoprompt_message' | translate"></h4>

        </div>
        <div class="col-md-9 storm-box content">
            <div class="row">
                <div class="col-md-12" ng-bind="'text_4' | translate"></div>
                <div class="col-md-12" ng-bind="'text_5' | translate"></div>
            </div>
            <br>
            <div class="col-md-12 storm-box" >

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#safari">Safari</a></li>
                    <li><a data-toggle="tab" href="#chrome">Chrome</a></li>
                    <li><a data-toggle="tab" href="#firefox">Firefox</a></li>
                </ul>

                <div class="row tab-content">
                    <div id="safari" class="tab-pane fade in active">
                        <div class="notification-content">
                        <div class="col-md-12">
                            <div class="col-md-4 storm-box">

                                <div class="row" ng-show="safari.enableGDPR==true">

                                    <div class="form-group">
                                        <label
                                               ng-bind="'Upload_icon' | translate"></label>
                                        <div class="upload-container">
                                            <a  class="cp">
                                                <img class="push_image_preview1_17 safari-icon"  id="safari-icon" src="{{safari.icon}}">
                                            </a>
                                            <a  class="button-orange-border cp"  onclick="choose_icon('safari-input')">{{'Browse' | translate}}</a>
                                            <input type="file" id="safari-input" class="hidden" onchange="readURL('safari-input','safari-icon')"></input>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-8">
                                <img ng-show="safari.enableGDPR!=true" class="image-example" src="../../../../images/safari-ask.png">
                                <div class="safari-group" ng-show="safari.enableGDPR==true">
                                    <img  class="image-example" src="../../../../images/safari-ask-none.png">
                                    <!--<img class="safari-small-icon safari-icon" src="{{safari.icon}}">-->
                                    <div class="safari-small-icon safari-icon" style="background: url('{{safari.icon}}') center;"></div>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                    <div id="chrome" class="tab-pane fade in">
                        <div class="notification-content">
                            <div class="col-md-12">
                                <div class="col-md-4 storm-box">
                                    <div class="row">
                                        <div class="md-checkbox">
                                            <input type="checkbox" id="checkbox3" ng-model="chrome.enableGDPR" class="md-check">
                                            <label for="checkbox3">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                {{'custom' | translate}} </label>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="chrome.enableGDPR==true">

                                            <div class="form-group" >
                                                <label ng-bind="'title' | translate"></label>
                                                <span>{{chrome.title.length}}/100</span>
                                                <input type="text" maxlength="100" ng-model="chrome.title" class="form-control">
                                            </div>
                                            <div class="form-group" >
                                                <label ng-bind="'description' | translate"></label>
                                                <span>{{chrome.description.length}}/100</span>
                                                <input type="text" maxlength="100" ng-model="chrome.description" class="form-control">
                                            </div>
                                            <div class="form-group" >
                                                <label ng-bind="'Accept_button' | translate"></label>
                                                <span>{{chrome.acceptButton.length}}/10</span>
                                                <input maxlength="10" type="text" ng-model="chrome.acceptButton" class="form-control">
                                            </div>
                                            <div class="form-group" >
                                                <label ng-bind="'Decline_button' | translate"></label>
                                                <span>{{chrome.declineButton.length}}/10</span>
                                                <input maxlength="10" type="text" ng-model="chrome.declineButton" class="form-control">
                                            </div>
                                        <div class="form-group">
                                            <label
                                                    ng-bind="'Upload_icon' | translate"></label>
                                            <div class="upload-container">
                                                <a  class="cp">
                                                    <img class="push_image_preview1_17 chrome-icon" id="chrome-icon" src="{{chrome.icon}}">
                                                </a>
                                                <a  class="button-orange-border cp" onclick="choose_icon('chrome-input')">{{'Browse' | translate}}</a>
                                                <input type="file" id="chrome-input" class="hidden" onchange="readURL('chrome-input','chrome-icon')"></input>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <img ng-show="chrome.enableGDPR==false" class="image-example" src="../../../../images/chrome-ask.png">
                                    <div ng-show="chrome.enableGDPR==true" class="col-md-12 custom-theme">
                                        <div class="title" ng-bind="chrome.title"></div>
                                        <div class="des" ng-bind="chrome.description"></div>
                                        <div class="row button-group">
                                            <img class="chrome-icon" src="{{chrome.icon}}">
                                            <button ng-bind="chrome.acceptButton"></button>
                                            <a ng-bind="chrome.declineButton"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="firefox" class="tab-pane fade in">
                        <div class="notification-content">
                            <div class="col-md-12">
                                <div class="col-md-4 storm-box">
                                    <div class="row">
                                        <div class="md-checkbox">
                                            <input type="checkbox" id="checkbox1" ng-model="firefox.enableGDPR" class="md-check">
                                            <label for="checkbox1">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                {{'custom' | translate}} </label>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="firefox.enableGDPR==true">

                                        <div class="form-group" >
                                            <label ng-bind="'title' | translate"></label>
                                            <span>{{firefox.title.length}}/100</span>
                                            <input type="text" maxlength="100" ng-model="firefox.title" class="form-control">
                                        </div>
                                        <div class="form-group" >
                                            <label ng-bind="'description' | translate"></label>
                                            <span>{{firefox.description.length}}/100</span>
                                            <input type="text" maxlength="100" ng-model="firefox.description" class="form-control">
                                        </div>
                                        <div class="form-group" >
                                            <label ng-bind="'Accept_button' | translate"></label>
                                            <span>{{firefox.acceptButton.length}}/10</span>
                                            <input maxlength="10" type="text" ng-model="firefox.acceptButton" class="form-control">
                                        </div>
                                        <div class="form-group" >
                                            <label ng-bind="'Decline_button' | translate"></label>
                                            <span>{{firefox.declineButton.length}}/10</span>
                                            <input maxlength="10" type="text" ng-model="firefox.declineButton" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label
                                                    ng-bind="'Upload_icon' | translate"></label>
                                            <div class="upload-container">
                                                <a  class="cp">
                                                    <img class="push_image_preview1_17 firefox-icon" id="firefox-icon" src="{{firefox.icon}}">
                                                </a>
                                                <a  class="button-orange-border cp" onclick="choose_icon('firefox-input')">{{'Browse' | translate}}</a>
                                                <input type="file" id="firefox-input" class="hidden" onchange="readURL('firefox-input','firefox-icon')"></input>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <img ng-show="firefox.enableGDPR==false" class="image-example" src="../../../../images/firefox-ask.png">
                                    <div ng-show="firefox.enableGDPR==true" class="col-md-12 custom-theme">
                                        <div class="title" ng-bind="firefox.title"></div>
                                        <div class="des" ng-bind="firefox.description"></div>
                                        <div class="row button-group">
                                            <img class="firefox-icon" src="{{firefox.icon}}">
                                            <button ng-bind="firefox.acceptButton"></button>
                                            <a ng-bind="firefox.declineButton"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row storm-box">
                    <br>
                    <div class="line"></div>
                    <div class="col-md-12">
                        <br>
                        <button class="cus-button" ng-click="save()" ng-bind="'Save' | translate">
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <!-- Modal Contato -->


</div>

