<div  class="page-sidebar-wrapper ">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <!-- END SIDEBAR MENU -->
        <ul class="page-sidebar-menu need-show " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
            <li class="sidebar-search-wrapper">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                <form class="sidebar-search " action="extra_search.html" method="POST">
                    <!--                         <a href="javascript:;" class="remove">
                                                <i class="icon-close"></i>
                                            </a>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search...">
                                                <span class="input-group-btn">
                                                <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                                                </span>
                                            </div> -->
                </form>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
            <li class="start active open">
                <a href="javascript:;">
                    <i class="icon-home"></i>
                    <span class="title" ng-bind="'app_name' | translate"></span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li ng-class="menuPos==1 ?'active' :''">
                        <a ng-click="changeMenu(1)">
                            <i class="icon-paper-plane"></i>
                            <span ng-bind="'create_campaign' | translate"></span></a>
                    </li>
                    <li ng-class="menuPos==2 ?'active' :''">
                        <a ng-click="changeMenu(2)" >
                            <i class="icon-bar-chart"></i>
                            <span ng-bind="'report_campaign' | translate"></span></a>
                    </li>
                    <li ng-class="menuPos==3 ?'active' :''">
                        <a ng-click="changeMenu(3)" >
                            <i class="icon-bell"></i>
                            <span ng-bind="'setting' | translate"></span></a>
                    </li>
                    <li ng-class="menuPos==4 ?'active' :''">
                        <a ng-click="changeMenu(4)" >
                            <i class="icon-user"></i>
                            <span ng-bind="'About' | translate"></span></a>
                    </li>
                    <li ng-if="hasPayOff==false" ng-class="menuPos==5 ?'active' :''">
                        <a ng-click="changeMenu(5)" >
                            <i class="icon-basket"></i>
                            <span ng-bind="'Payment' | translate"></span></a>
                    </li>
                </ul>
            </li>
            <!--<li class="heading">-->
                <!--<h3 class="uppercase" ng-bind="'more_apps' | translate"></h3>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="icon-tag"></i>-->
                    <!--<span class="title" ng-bind="'countdown_app_title' | translate"></span>-->
                    <!--<span class="arrow "></span>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>

