#storm-push {z-index: 9999999}
#storm-push .modal-body .title{color: rgb(0, 0, 0);font-size: 13px;font-weight: bold;width: 100%;padding-right: 15px;word-break: break-all;}
#storm-push .modal-body .des{color: rgb(0, 0, 0);font-size: 13px;width: 100%;padding-right: 15px;word-break: break-all;}
#storm-push .modal-body .button-group {margin-top: 15px;padding-right: 15px;padding-left: 15px;float: right}
#storm-push .modal-body .button-group button{background: rgb(253, 130, 34);color: rgb(255, 255, 255);cursor: pointer;margin: 0 auto;font-size: 15px;line-height: 34px;border-radius: 5px!important;border: none;white-space: nowrap;text-decoration: none;float: right;padding-left: 15px;padding-right: 15px;outline: none}
#storm-push .modal-body .button-group button:hover{background-color: #F5B88B}
#storm-push .modal-body .button-group a{color: rgb(0, 0, 0);cursor: pointer;background: none;font-size: 15px;padding: 0 26px;line-height: 34px;border-radius: 5px;white-space: nowrap;margin-right: 5px;text-decoration: underline;}
#storm-push .modal-body img{max-width: 50px;max-height: 50px;float: left;min-width: 50px;min-height: 50px}
#storm-push .modal-body .button-group a:hover{color: #666666;text-decoration: none}
#storm-push .modal-content {padding: 15px}