.disable-input{background-color: lightgrey!important;}
#logo{width: 40px;margin-top: 3px!important;float: left}
.logo-text{color: white;height: 46px;padding-top: 8px;margin-left: 10px;font-size: 18px;float: left;padding-left: 10px}
.page-logo a{text-decoration: none;color: white}
.logo-default{margin: inherit!important;}
.main-bg{background-color: white}
#footer-include{background-color: #38414F}
.row{margin-right: 0px!important;margin-left: 0px!important;}
.storm-box{padding-right: 0px!important;padding-left: 0px!important;}
.hidden{display: none;}
.float-left{float: left}
.twenty-magin-left{margin-left: 20px}
.button-orange-border{border: 1px solid #fee0c8;background: #fff;color: #fd8222;cursor: pointer;border-radius: 5px!important;font-size: 15px;padding: 0 26px;line-height: 34px;}
.button-orange-full{border-radius: 5px!important;color: #fff;background: #fd8222;font-size: 15px;padding: 0 26px;line-height: 34px;cursor: pointer;}
.button-orange-full:hover{background-color: #474E56;color: #fff;border-color: #474E56}
.button-green-border{border: 1px solid #3fb01f;background: #fff;color: #fd8222;cursor: pointer;border-radius: 5px!important;font-size: 15px;padding: 0 26px;line-height: 34px!important;}
/*#header-bar{margin-top: 33px}*/
.promotion-push .left-side .content{font-size: 15px;line-height: 21px;color: #798c9c;margin-top: 7px;margin-bottom: 12px;}
.promotion-push .left-side h4{color: #31373d;font-size: 18px;font-weight: normal;}
.promotion-push .left-side .notes-block{border-left: 4px solid #798c99;margin: 42px 0;padding-left: 18px;}
.promotion-push .left-side .notes-block p{font-size: 15px;line-height: 21px;color: #798c9c;margin-top: 7px;margin-bottom: 12px;}
.promotion-push #content{background-color: #fff;border-radius: 5px!important;border: 1px solid white;margin-top: 15px}
.promotion-push #content .row:first-child{padding-top: 25px}
.promotion-push #content .panel-body{padding: 0px;padding-right: 0px;padding-right: 0px}
.promotion-push #content .col-md-4{padding-left: 0px;padding-right: 0px}
.promotion-push #content .third-side{padding-right: 0px}
.promotion-push #content .third-side .tab-content{border: 1px solid #EBEEF1;padding: 5px}
.promotion-push #content .third-side .nav-tabs{margin-bottom: 0px}
.promotion-push #content .third-side .nav-tabs li{border-bottom: 1px solid #EBEEF1;}
.promotion-push #content .third-side .nav-tabs li a{color: #fd8121;font-size: 13px;font-weight: bold}
.promotion-push #content .third-side .nav-tabs li.active a{color: #444;}
.promotion-push #content .third-side .tab-content #home img{width: 100%;height: 530px}
.promotion-push #content .third-side .tab-content #menu1 img{width: 100%;height: 530px}
.promotion-push #content .third-side .tab-content #home .notification-content{position: absolute;right: 15px;bottom: 68px;width: 400px;}
.promotion-push #content .third-side .tab-content #menu1 .notification-content{position: absolute;right: 15px;bottom: 400px;width: 340px;border-radius: 8px!important;background: #EFECED}
.promotion-push #content .third-side .tab-content #menu1 .notification-content .content{padding-right: 25px;padding-left: 52px;padding-top: 2px;}
.promotion-push #content .third-side .tab-content #home .notification-content .content{background: #464646;padding-right: 25px;min-height: 95px;padding-left: 102px;padding-top: 2px;}
.promotion-push #content .third-side .tab-content #home .notification-content .content > a{display: inline-block;position: absolute;right: 8px;top: 7px;color: #fcab1b;font-size: 10px;}
.promotion-push #content .third-side .tab-content #home .notification-content .content .image-wrap{width: 95px;height: 90px;position: absolute;left: 0;text-align: center;background-size: contain;background-repeat: no-repeat;}
.promotion-push #content .third-side .tab-content #home .notification-content .content .image-wrap img{height: initial!important;max-width: 50%;max-height: 50%;margin-top: 16px}
.promotion-push #content .third-side .tab-content #home .notification-content .content .details{padding: 10px;overflow: hidden;}
.promotion-push #content .third-side .tab-content #home .notification-content .content .details .title{color: #FEFEFE;margin: 0;font-size: 13px;word-break: break-word}
.promotion-push #content .third-side .tab-content #home .notification-content .content .details .des{font-size: 13px;line-height: 15px;color: #9C9C9C;margin: 7px 0;padding: initial;word-break: break-word}
.promotion-push #content .third-side .tab-content #home .notification-content .content .details a{color: #9C9C9C;font-size: 13px;text-decoration: none;display: inline-block;width: 300px}
.promotion-push #content .third-side .tab-content #home .notification-content .second-image{max-height: 240px;max-width: 400px}
.promotion-push #content .third-side .tab-content #home .notification-content .second-image img{width: 100%!important;height: 220px!important;}
.promotion-push #content .third-side .tab-content #home .notification-content .cta-group{background-color: #464646;padding-top: 20px;padding-bottom: 20px}
.promotion-push #content .third-side .tab-content #home .notification-content .cta-group div div{word-break: break-word;color: #E0E0E0;font-size: 11px;margin-top: 5px}
.promotion-push #content .third-side .tab-content #home .notification-content .cta-group .first-cta{float: right}
.promotion-push #content .third-side .tab-content #home .notification-content .cta-group div img{width: 20px;height: 20px;display:block;margin-left:auto;margin-right:auto;}
.promotion-push #content .third-side .tab-content #menu1 .notification-content .content .image-wrap{position: initial;left: 0;top: 0;text-align: center;background-size: contain;background-repeat: no-repeat;}
.promotion-push #content .third-side .tab-content #menu1 .notification-content .content .image-wrap img{height: 33px!important;width: 33px;position: absolute;top: 0;bottom: 0;left: 10px;margin: auto;}
.promotion-push #content .third-side .tab-content #menu1 .notification-content .content .details{padding-top: 10px;padding-bottom: 7px}
.promotion-push #content .third-side .tab-content #menu1 .notification-content .content .details .title{color: #4C4C4C;margin: 0;font-size: 13px;text-overflow: ellipsis;overflow: hidden;display: block!important;-webkit-line-clamp: 1;-webkit-box-orient: vertical;white-space: nowrap;}
.promotion-push #content .third-side .tab-content #menu1 .notification-content .content .details .des{font-size: 13px;line-height: 15px;font-weight: lighter;color: #4C4C4C;margin: 3px 0;padding: initial;    display: -webkit-box;word-break: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.promotion-push #content .third-side .tab-content #menu1 .notification-content .content .details a{color: #4C4C4C;font-size: 13px;text-decoration: none;text-overflow: ellipsis;overflow: hidden;display: block}
.promotion-push #content .third-side .tab-content #menu1 .notification-content .content .small-image img{width: 50px;height: 50px;position: absolute;right: 0;top: 23px;}
.promotion-push .panel-default .panel-body .form-group span{float: right;font-size: 12px;color: #7D8C98 }
.promotion-push .panel-default .panel-body .form-group label{font-weight: bold;color: #444;font-size: 12px}
.promotion-push .panel-default .panel-body .form-group label.optional{font-weight: normal;color: #798c99;font-size: 11px}
.promotion-push .panel-default .panel-body .form-group .form-control{border-radius: 5px!important;border: 1px solid #EBEEF1 }
.promotion-push .panel-default .panel-body .form-group .form-control:focus {border-radius: 5px!important;border: 1px solid #474E56 }
.promotion-push #content .third-side .tab-content #menu2 img{max-width: 100%;height: 530px;display:block;margin:auto;}
.promotion-push #content .third-side .tab-content #menu2{text-align: -webkit-center;}
.promotion-push #content .third-side .tab-content #menu2 .notification-content {position: relative;bottom: 385px;width: 255px!important;padding-left: 13px;padding-right: 13px;}
.promotion-push #content .third-side .tab-content #menu2 .notification-content .content{background: #fff;min-height: 45px;padding-top: 10px;padding-bottom: 10px}
.promotion-push #content .third-side .tab-content #menu2 .notification-content .content .row{padding-top: 0px}
.promotion-push #content .third-side .tab-content #menu2 .notification-content .content .first-row{padding-top: 0px;padding-left: 15px}
.promotion-push #content .third-side .tab-content #menu2 .notification-content .content .first-row .small-icon{width: 10px;height: 10px;float: left}
.promotion-push #content .third-side .tab-content #menu2 .notification-content .content .first-row div{float: left;font-size: 9px;color: #3A3A3A;font-weight: lighter;width: 170px;top: -10px;position: relative;padding-left: 10px;}
.promotion-push #content .third-side .tab-content #menu2 .notification-content .content .title{text-align: left;padding-left:15px;font-size: 9px;color: #212121;display: -webkit-box!important;word-break: break-word;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.promotion-push #content .third-side .tab-content #menu2 .notification-content .content .des{padding-left: 15px;font-size: 9px;color: #212121;font-weight: lighter;display: -webkit-box!important;word-break: break-word;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;text-align: left}
.promotion-push #content .third-side .tab-content #menu2 .notification-content .content .icon img{width: 20px;height: 20px;margin-top: 22px;max-width: 20px;margin-right: -3px;}
.promotion-push #content .third-side .tab-content #menu2 .notification-content .content .cta-group div{color: #767676;font-size: 12px;display: -webkit-box;word-break: break-word;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;padding-left: 15px!important;}
.promotion-push #content .third-side .tab-content #menu2 .notification-content .content .image img{width: 200px;max-height: 80px;max-width: 100%;}
.promotion-push #content .second-side .cta-group{border: 1px solid #E1E1D8;background-color: #FCFBF6;min-height: 50px;padding: 15px}
.promotion-push #content .second-side .cta-group {border: 1px solid #E1E1D8;background-color: #FCFBF6;min-height: 50px;padding: 15px}
.promotion-push #content .second-side .cta-group .link-p15 {padding-right: 10px;}
.promotion-push #content .second-side .cta-group .link {color: #fd8222;}
.promotion-push #content .second-side .cta-group .cp {cursor: pointer;}
.promotion-push #content .second-side .upload-container {white-space: nowrap;position: relative;}
.promotion-push #content .second-side .upload-container .cp {cursor: pointer;}
.promotion-push #content .second-side .upload-container a {text-decoration: none;}
.promotion-push #content .second-side .upload-container a {background: transparent;}
.promotion-push #content .second-side .upload-container img {margin-right: 15px;width: 80px;}
.promotion-push #content .second-side .upload-container .button-orange-border {display: inline-block;vertical-align: middle;white-space: normal;border: 1px solid #fee0c8;background: #fff;color: #fd8222;border-radius: 5px!important;font-size: 15px;padding: 0 26px;}
.promotion-push #content .second-side .upload-container .button-orange-border:hover {border-color: #474E56;color: #474E56}
.promotion-push #content .second-side .upload-container .push_hero_image_preview1_20 {width: 150px}
.line{background-color: #EBEEF1;width: 100%;height: 1px}
.push-padding{padding-left:25px;padding-bottom: 15px;padding-top: 15px}
.cus-button{border-radius: 5px!important;color: #fff;background: #fd8222;font-size: 15px;padding: 0 26px;line-height: 34px;border: none;outline: none}
.cus-button:hover{background-color: #474E56;color: white}
.card-text{height: 55px}

#report-page .main{background-color: #fff;border-radius: 5px!important;}

#push-frame #push-content #banner{padding-top: 28px;padding-bottom: 15px;}
#push-frame #push-content #banner .title-text{margin: 0 auto;margin-top: 11px;font-size: 18px;color: #333;line-height: 21px;text-align: center}
#push-frame #push-content #banner .title-text img{max-width: 120px}
#push-frame #push-content #banner .title-text p{margin: 1em 0;font-size: 18px;color: #333;font-family: 'proxima_nova_ltlight';}

#setting{margin-top: 20px}
#setting .title-side h4{color: #31373d;font-size: 18px;font-weight: normal;}
#setting .content{background-color: #fff;padding-top: 25px;padding-bottom: 15px;border-radius: 5px!important;}
#setting .content .box{padding: 10px}
#setting .content .text-content div{font-size: 15px;color: #666666;line-height: 18px;margin-top: 15px}
#setting .content .form-group .upload-container {white-space: nowrap;position: relative;}
#setting .content .form-group .upload-container .cp{cursor: pointer;}
#setting .content .form-group .upload-container a{background: transparent;text-decoration: none;}
#setting .content .form-group .upload-container img{margin-right: 15px;width: 80px;}
#setting .content .form-group .upload-container .button-orange-border{display: inline-block;vertical-align: middle;white-space: normal;border: 1px solid #fee0c8;background: #fff;color: #fd8222;border-radius: 5px!important;font-size: 15px;padding: 0 26px;}
#setting .content .form-group .upload-container .button-orange-border:hover{color: #474E56;border-color: #474E56}
#setting .content .form-group label{color: #444;font-weight: bold;}
#setting .content .form-group span{font-weight: normal;color: #798c99;display: inline-block;float: right;}
#setting .content .form-group input[type="text"]{border: 1px solid #d3dbe2;border-radius: 3px!important;background: #fff;padding: 8px 8px;width: 100%;font-size: 15px;}
#setting .content .form-group input[type="text"]:focus{border: 1px solid #474E56}
#setting .content .form-group select{position: relative;width: 100%;height: 35px;background: white;border: 1px solid #d3dbe2;border-radius: 3px;font-family: Arial, Tahoma, Geneva, Kalimati, sans-serif;font-size: 13px;}
#setting .content .form-group .theme{padding: 25px;border: 1px solid #C5CAD0}
#setting .content .form-group .theme:hover{border-color:#000}
#setting .content .form-group .theme-chosen{border: 7px solid #C5CAD0}
#setting .content .form-group .theme-orange{background: linear-gradient( -45deg, #fff 20%,#fd8222 20%, #fd8222 40%,#fd8222 40%, #fd8222 60%,#fff 60%, #fff 80%,#000 80%, #000 100% )}
#setting .content .form-group .theme-pink{background: linear-gradient( -45deg, #ffffff 20%,#343434 20%, #343434 40%,#db1d1d 40%, #db1d1d 60%,#ffffff 60%, #ffffff 80%,#000000 80%, #000000 100% );}
#setting .content .form-group .theme-green{background: linear-gradient( -45deg, #ffffff 20%,#7ACEC3 20%, #7ACEC3 40%,#7ACEC3 40%, #7ACEC3 60%,#ffffff 60%, #ffffff 80%,#000000 80%, #000000 100% );}
#setting .content .form-group .theme-blue{background: linear-gradient( -45deg, #ffffff 20%,#50B3DA 20%, #50B3DA 40%,#50B3DA 40%, #50B3DA 60%,#ffffff 60%, #ffffff 80%,#444444 80%, #444444 100% );}
#setting .content .form-group .theme-black{background: linear-gradient( -45deg, #ffffff 20%,#C7AC7F 20%, #C7AC7F 40%,#343434 40%, #343434 60%,#ffffff 60%, #ffffff 80%,#000000 80%, #000000 100% );}
#setting .content .form-group .theme-green-strong{background: linear-gradient( -45deg, #ffffff 20%,#7AB55C 20%, #7AB55C 40%,#3b721f 40%, #3b721f 60%,#ffffff 60%, #ffffff 80%,#30373B 80%, #30373B 100% );}
#setting .content .form-group .theme-green-light{background: linear-gradient( -45deg, #ffffff 20%,#EBB129 20%, #EBB129 40%,#7AB55C 40%, #7AB55C 60%,#ffffff 60%, #ffffff 80%,#333333 80%, #333333 100% );}
#setting .content .form-group .theme-group a {float: left;}
#setting .content .form-group .theme-group a:not(:first-child) {margin-left: 18px}
#setting .content .check-group label{font-weight: normal;color: #798c99;line-height: 19px;font-size: 13px}
#setting .content .nav{margin-bottom: 0px;padding-left: 15px;padding-right: 15px}
#setting .content .nav-tabs{border: none}
#setting .content .nav-tabs a{color: #444;font-size: 13px;font-weight: bold}
#setting .content .tab-content{border: 1px solid #D3D9DF;padding-top: 20px;padding-bottom: 20px}
#setting .content .tab-content{margin-right: 15px!important;margin-left: 15px!important;}
#setting .content .tab-content .image-example{max-width: 100%;min-height: 60px}
#setting .content .tab-content .safari-group .safari-small-icon{position: absolute;float: left;top: 20px;margin-left: 30px;width: 70px;height: 70px;background-size: cover!important;}

#setting .content .image-content{margin-top: 20px}
#setting .content .image-content .normal{width: 100%}
#setting #chrome .custom-theme{background-color: #fff;padding-bottom: 20px;padding-top: 20px;padding-left: 20px;-webkit-box-shadow: -2px 1px 10px 6px rgba(222,222,222,1);-moz-box-shadow: -2px 1px 10px 6px rgba(222,222,222,1);box-shadow: -2px 1px 10px 6px rgba(222,222,222,1);}
#setting #chrome .custom-theme .title{color: rgb(0, 0, 0);font-size: 13px;font-weight: bold;width: 100%;padding-right: 15px;word-break: break-all}
#setting #chrome .custom-theme .des{color: rgb(0, 0, 0);font-size: 13px;width: 100%;padding-right: 15px;word-break: break-all}
#setting #chrome .custom-theme .button-group {margin-top: 15px}
#setting #chrome .custom-theme .button-group button{background: rgb(253, 130, 34);color: rgb(255, 255, 255);cursor: pointer;margin: 0 auto;font-size: 15px;line-height: 34px;border-radius: 5px!important;border: none;white-space: nowrap;text-decoration: none;float: right}
#setting #chrome .custom-theme .button-group button:hover{background-color: #F5B88B}
#setting #chrome .custom-theme .button-group a{color: rgb(0, 0, 0);cursor: pointer;background: none;font-size: 15px;padding: 0 26px;line-height: 34px;border-radius: 5px;white-space: nowrap;display: inline-block;float: right;margin-right: 5px;text-decoration: underline;}
#setting #chrome .custom-theme .button-group img{max-width: 50px;max-height: 50px;float: left;min-height: 50px;min-width: 50px}
#setting #chrome .custom-theme .button-group a:hover{color: #666666;text-decoration: none}

#setting #firefox .custom-theme{background-color: #fff;padding-bottom: 20px;padding-top: 20px;padding-left: 20px;-webkit-box-shadow: -2px 1px 10px 6px rgba(222,222,222,1);-moz-box-shadow: -2px 1px 10px 6px rgba(222,222,222,1);box-shadow: -2px 1px 10px 6px rgba(222,222,222,1);}
#setting #firefox .custom-theme .title{color: rgb(0, 0, 0);font-size: 13px;font-weight: bold;width: 100%;padding-right: 15px;word-break: break-all}
#setting #firefox .custom-theme .des{color: rgb(0, 0, 0);font-size: 13px;width: 100%;padding-right: 15px;word-break: break-all}
#setting #firefox .custom-theme .button-group {margin-top: 15px}
#setting #firefox .custom-theme .button-group button{background: rgb(253, 130, 34);color: rgb(255, 255, 255);cursor: pointer;margin: 0 auto;font-size: 15px;line-height: 34px;border-radius: 5px!important;border: none;white-space: nowrap;text-decoration: none;float: right}
#setting #firefox .custom-theme .button-group button:hover{background-color: #F5B88B}
#setting #firefox .custom-theme .button-group a{color: rgb(0, 0, 0);cursor: pointer;background: none;font-size: 15px;padding: 0 26px;line-height: 34px;border-radius: 5px;white-space: nowrap;display: inline-block;float: right;margin-right: 5px;text-decoration: underline;}
#setting #firefox .custom-theme .button-group img{max-width: 50px;max-height: 50px;float: left;min-height: 50px;min-width: 50px}
#setting #firefox .custom-theme .button-group a:hover{color: #666666;text-decoration: none}

