
#main-notification-frontend{
    background-color: rgb(241, 242, 240);
    border-color: rgba(149, 149, 149, 0.3);
    border-radius: 3px;
    color: rgb(149, 149, 149);
    padding: 10px;
}

#main-notification-frontend #icon-notification-frontend {
    height: 50px;
    margin-right: 12px;
}

#main-notification-frontend #title-notification-frontend {
    color: rgb(51, 51, 51);
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#main-notification-frontend #message-notification-frontend {
    font-size: 80%;
}