<!--<script src="/top-ad/js/flipclock.js"></script>-->

<!--<link rel="stylesheet" type="text/css" href="/top-ad/css/cssdowntime.css">-->
<link rel="stylesheet" type="text/css" href="/top/css/flipclock.css">
<link rel="stylesheet" type="text/css" href="/top/css/flipclock-light.css">
<link rel="stylesheet" type="text/css" href="/top/css/top-backend.css">

<div class="col-md-11" is-show="{{enableWidget}}" id="hold-container">
    <div  id="dw-countdown-widget-container" ng-style="{'background': colorbackgroup, 'color': colortext}">
        <div  id="countdown-text">{{ titletext }}</div>
        <div class="tick" id="ticker-wrapper"  data-did-init="handleTickInit" data-state="initialised"><div id="ticker"></div>
        </div>
        <a ng-if="buttontext" class="countdown-text countdown-button" target="_blank" href="https://{{ shop }}/{{ buttonUrl }}"  id="dw-countdown-widget-container-button" ng-style="{'background-color': colorbtnbackgroup, 'color': colortextbtn}" style="color: rgb(3, 3, 3); background-color: rgb(255, 255, 255);" >{{ buttontext }}</a>
    </div>
</div>


